@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 25, 47; /* Dark Navy */
  --background-start-rgb: 252, 252, 252; /* Off-white */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}